EMAIL = ''
PASSWORD = ''
ADMINS = ('', )
LASTFM_API_KEY = ''
JOKES_API_KEY = ''
DEEP_API_KEY = ''
SHORTENER_API_KEY = ''
TRANSLATE_API_KEY = ''
TM_API_USER = ''
TM_API_PASS = ''
COMMAND_PREFIX = '.'
BREWERYDB_API_KEY = ''
DEEP_API_KEY = ''
FLASKNASC_HOST = ''
FLASKNASC_USER = ''
FLASKNASC_KEY = ''
